// Brand colours
$brand-background-colour: #071C21;
$brand-panel-colour: #061417;
$brand-yellow: #C6DE41;

$primary: #2D6E7E;
$secondary: #153b44;
$success: #73BA7A;
$warning: #F6EA8C;
$danger: #C03546;

$sub-text-color: #AFAFAF;

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";


// Bootstrap overrides
$body-bg: $brand-background-colour;
$body-color: $gray-400;

// Components
// Card
$card-bg: $brand-panel-colour;
$card-color: $white;

// Jumbotron
$jumbotron-bg: $brand-background-colour;
$jumbotron-color: $white;

// Badge
$badge-padding-x: .5rem;
$badge-padding-y: .5rem;